<a href="https://colab.research.google.com/github/riinndescartes/Pemrograman-Lanjut-Python-DS23/blob/main/1_2_Catatan_Pendahuluan_Percabangan_dan_Pengulangan.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#PENDAHULUAN DAN PERCABANGAN

In [ ]:
if N > 0:
print(str(N) + " adalah bilangan positif")
else:  # N <= 0
print(str(N) + " adalah bilangan bukan positif"

IndentationError: expected an indented block after 'if' statement on line 1 (<ipython-input-1-95987d60aa15>, line 2)

In [ ]:
if 5 > 0:
  print(str(5) + " adalah bilangan positif")
else:  # N <= 0
  print(str(5) + " adalah bilangan bukan positif")

5 adalah bilangan positif

In [ ]:

variabel = 7 #ini adalah variabel
print(f"Dengan format {variabel}")


 """
 '''

Dengan format 7

In [ ]:
X = 101
Y= 4

X//Y
X/Y

print(X//Y)
print(X/Y)

25
25.25

#PERULANGAN

#EKSPLORASI PRIBADI DI KELAS

PENGENALAN LIST

List merupakan *mutable* atau berarti Anda dapat mengubah elemen-elemennya setelah list dibuat. Anda dapat menambah, menghapus, atau memodifikasi elemen dalam list.

In [ ]:
my_list = [1, 2, 3]
my_list[2] = 10  # List dapat diubah
print(my_list)  # Output: [10, 2, 3]

[1, 2, 10]

PENGENALAN TUPLE

*Tuple* adalah *immutable*, artinya setelah tuple dibuat, elemen-elemennya tidak bisa diubah, ditambah, atau dihapus.

In [ ]:
my_tuple = (1, 2, 3)
       my_tuple[0] = 10  # Akan menghasilkan error karena tuple tidak bisa diubah

IndentationError: unexpected indent (<ipython-input-27-d066fc9b516e>, line 2)

INTRO PERULANGAN

In [ ]:
print(1)
print(2)
print(3)
print(4)
print(5)
print(6)
print(7)
print(8)
print(9)
print(10)

1
2
3
4
5
6
7
8
9
10

1.1. JENIS PERULANGAN: FOR LOOP

In [ ]:
var_list = [1,2,3,4,5,6,7,8,9,10]
for i in var_list:
    print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
huruf = "Sains Data IKOPIN University"
for i in huruf:
    print(i)

S
a
i
n
s

D
a
t
a

I
K
O
P
I
N

U
n
i
v
e
r
s
i
t
y

In [ ]:
for i in range(10): # bisa juga disebut for i in range (0, 10, 1) : karena secara defult jika start dan step tidak diinisialisasikan
                    #maka secara otomatis start = 0 (perulangan dimulai dari angka 0 secara indexing),
                    #dan step = 1 (bertambah 1 angka setelah angka pertama ter-print).
                    # Walaupun batas stop perulangan adalah 10 namun angka tersebut tidak menjadi output terakhir, melainkan 9.
    print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for i in range (1000):
  print(" Hello World")

- Interpretasi Coding:
  
  Program memiliki struktur sintaks perulangan sebagai berikut,

  `for <variabel> in range <'iterable>`
    
    `<statement (s)>`

  Artinya adalah, sintaks tersebut menggunakan perulangan (loop) `for` dalam Python untuk mencetak teks "Hello World" sebanyak 1000 kali (angka dalam rentang 1000 atau 0-999 secara *indexing*). Bagian `for i in range(1000):` berarti perulangan akan berjalan 1000 kali, dengan variabel `i` secara otomatis mengambil nilai dari 0 hingga 999. Meskipun variabel `i` ada, nilainya tidak digunakan dalam program ini. Di dalam loop, ada perintah `print(" Hello World")` yang menampilkan teks "Hello World" pada setiap iterasi. Akibatnya, output "Hello World" akan muncul sebanyak 1000 kali berturut-turut di layar.

In [ ]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [ ]:
for i in range(2 , 5, 1): # bisa disebut memiliki iterasi dengan start = 2, stop = 5, step = 1.
  print('i')
              # Dimulai dari angka 2, bertambah 1 angka hingga iterasi mencapai nilai batasnya yaitu 5.

i
i
i

In [ ]:
for i in range(7 ,	2,	-1): # Start= 7, Stop = 2, Step = -1
   print(i)               # Dimulai dari angka 7, berkurang sebanyak -1 terus hingga mencapai batas akhirnya yaitu 2.
                  # Angka terakhir yang keluar adalah 3.

7
6
5
4
3

In [ ]:
a = int( input())
b = int( input())

for i in range(a, b+1):
  print(i)

6
9
6
7
8
9

1.2. WHILE LOOP

In [ ]:
counter = 1
while counter <= 5:
    print(counter)
    counter += 1    # Increment

1
2
3
4
5

In [ ]:
a = int( input())
b = int( input())

i = a
while (i <= b):
  print(i)
  i += 1

3
7
3
4
5
6
7

  1.3. FOR NESTED LOOP

In [ ]:
n = int( input())

for i in range(n):
  for j in range(n):
    print("*", end="") # Dieksekusi sebanyak n * n kali print()

# Dieksekusi sebanyak n kali
# Perhatikan indentasi di dalam perulangan.

2
****

#LATIHAN SOAL DI KELAS

1. *Kelipatan 5 Terkecil*  
   Buatlah program yang menerima bilangan N dan menuliskan bilangan kelipatan 5 terkecil yang lebih besar dari N.
   
   *Contoh:*
   - Input: 8
   - Output: 10
   
   - Input: 27
   - Output: 30

In [ ]:
# Input bilangan N
N = int(input("Masukkan N: "))

# Mencari kelipatan 5 terkecil yang lebih besar dari N
i = N + 1
while i % 5 != 0:  # Selama i belum menjadi kelipatan 5
    i += 1  # Tambah i

# Output hasil
print("Output:", i)

Masukkan N: 8
Output: 10

2. *Kelipatan 7 Terkecil*  
   Buat program yang menerima bilangan N dan mencetak bilangan kelipatan 7 terkecil yang lebih besar dari N.

   *Contoh:*
   - Input: 9
   - Output: 14
   
   - Input: 20
   - Output: 21

3. *Kelipatan 15 Terkecil*  
   Buat program yang menerima bilangan N dan mencetak kelipatan 15 terkecil yang lebih besar dari N.
   
   *Contoh:*
   - Input: 13
   - Output: 15
   
   - Input: 30
   - Output: 45

4. *Pola Segitiga Bintang*  
   Buat program yang menerima bilangan N dan mencetak pola segitiga bintang dengan dasar N.
   
   *Contoh:*
   - Input: 4
   - Output:
     
     '*
     
     '**
     
     '***
     
     '****

In [ ]:
# Input dari pengguna
N = int(input("Masukkan nilai N: "))

# Cetak pola segitiga bintang
for i in range(1, N+1):
    print('*' * i)

Masukkan nilai N: 4
*
**
***
****

5. *Segitiga Angka Terbalik*  
   Buat program yang menerima bilangan N dan mencetak segitiga angka terbalik dengan dasar N.

   *Contoh:*
   - Input: 4
   - Output:
     
     1234

     123

     12
     
     1

In [ ]:
N = int(input("Masukkan bilangan N: "))
for i in range(N, 0, -1):
    for j in range(1, i+1):
        print(j, end="")
    print()

Masukkan bilangan N: 4
1234
123
12
1

6. *Pola Piramida Angka*  
   Buat program yang menerima bilangan N dan mencetak pola piramida angka.

   *Contoh:*
   - Input: 3
   - Output:
     
       '1

      '123
     
     '12345

In [ ]:
N = int(input("Masukkan nilai N: "))

# Cetak pola piramida angka
for i in range(1, N+1):
    print(' ' * (N-i) + ''.join(str(x) for x in range(1, 2*i)))

Masukkan nilai N: 3
  1
 123
12345

7. *Kelipatan 2 dan 3*  
	Buat program yang menerima bilangan N.
	Jika bilangan merupakan kelipatan dari 2, cetak "Dua". Jika kelipatan dari 3, cetak "Tiga".
	Jika kelipatan dari 2 dan 3, cetak "DuaTiga". Jika bukan kelipatan dari keduanya, cetak angkanya saja.

   *Contoh:*
   - Input: 10
   - Output:
     1 Dua Tiga Dua 5 DuaTiga 7 Dua Tiga Dua

In [ ]:
N = int(input("Masukkan nilai N: "))

# Loop dari 1 hingga N
for x in range(1, N + 1):
    if x % 2 == 0 and x % 3 == 0:
        print("DuaTiga", end=" ")
    elif x % 2 == 0:
        print("Dua", end=" ")
    elif x % 3 == 0:
        print("Tiga", end=" ")
    else:
        print(x, end=" ")
print()

Masukkan nilai N: 10
1 Dua Tiga Dua 5 DuaTiga 7 Dua Tiga Dua

###1.3.1. Kelipatan 10 Terkecil

In [ ]:
N = int(input("Masukkan bilangan N: "))

x = N + 1
while x % 10 != 0:
    x += 1

print(x)

- Interpretasi Coding:
- Interpretasi Hasil:

###1.3.2. Segitiga Angka

In [ ]:
N = int(input("Masukkan bilangan N: "))

for i in range(1, N + 1):  # Loop untuk baris
    for j in range(1, i + 1):  # Loop untuk mencetak angka dalam baris
        print(j, end="")
    print()  # Pindah ke baris berikutnya setelah setiap baris selesai

- Interpretasi Coding:
- Interpretasi Hasil:

#POST TEST

1. *Kelipatan 2 dan 3*  
	Buat program yang menerima bilangan N.
	Jika bilangan merupakan kelipatan dari 2, cetak "Dua". Jika kelipatan dari 3, cetak "Tiga".
	Jika kelipatan dari 2 dan 3, cetak "DuaTiga". Jika bukan kelipatan dari keduanya, cetak angkanya saja.

   *Contoh:*
   - Input: 10
   - Output:
     1 Dua Tiga Dua 5 DuaTiga 7 Dua Tiga Dua

In [ ]:
N = int(input("Masukkan nilai N: "))

# Loop dari 1 hingga N
for x in range(1, N + 1):
    if x % 2 == 0 and x % 3 == 0:
        print("DuaTiga", end=" ")
    elif x % 2 == 0:
        print("Dua", end=" ")
    elif x % 3 == 0:
        print("Tiga", end=" ")
    else:
        print(x, end=" ") # Tambahkan newline di akhir
print()

Masukkan nilai N: 10
1 Dua Tiga Dua 5 DuaTiga 7 Dua Tiga Dua