# ANALISIS DATA

Mengimpor Library

In [2]:
import pandas as pd 
import matplotlib.pyplot as plt

Membuat Dataframe

In [8]:


data = { 
    'Tahun':[2008,2009,2010],
    'Cakupan':['Kota Bandung', 'Prov. Jawa Barat', 'Nasional'],
    'Tingkat Inflasi':[ 10.23, 2.02, 4.53]
}

print(type(data))
df = pd.DataFrame(data)
print(df)

<class 'dict'>
   Tahun           Cakupan  Tingkat Inflasi
0   2008      Kota Bandung            10.23
1   2009  Prov. Jawa Barat             2.02
2   2010          Nasional             4.53

Membaca dan Menulis Data

1. Membaca dataset CSV

In [3]:

df = pd.read_csv('C:/Users/Lenovo/Documents/PEMROLAN/Dataset/Praktikum6/H05.csv')
df

                          nama fakultas  nilai_mat  nilai_kim  nilai_fis
0         Farhan Fathur Rahman    FMIPA      57.21      34.14      38.93
1               Steven Margono    FMIPA      67.43      51.50      57.20
2                 Ryan Sentosa    SAPPK      90.62      37.38      40.73
3         Muhajah Babny Muslim    FMIPA      72.31      38.80      44.79
4             Alvin Natawiguna     FTSL      65.45      57.67      56.39
...                        ...      ...        ...        ...        ...
5130               Khoirrashif    SITHR      66.14      46.82      56.74
5131      Jefri Hendri Adriano     FTSL      53.68      34.74      33.76
5132               Iki Hidayat     FITB      69.63      35.04      37.65
5133  Muhammad Nashir Sitompul      FTI      79.69      39.06      50.17
5134     Billy Richardo Sagala     STEI      68.68      51.23      66.18

[5135 rows x 5 columns]

Membaca dataframe excel

In [ ]:
df = pd.read_excel('C:/Users/Lenovo/Documents/PEMROLAN/Dataset/H05.xlsx')
df

Menuliskan dataframe menjadi file dataset CSV atau Excel

In [ ]:
df.to_csv('output.csv', index = False)

In [ ]:
df.to_excel('output.xlsx', index = False)

Mengakses Data

In [16]:
#1. Memfilter data sesuai kategori
filtered_data= df[df['Cakupan'] == 'Kota Bandung']
print(filtered_data)

   Tahun       Cakupan  Tingkat Inflasi
0   2008  Kota Bandung            10.23

In [ ]:
# 2. Mengambil data sesuai indexing
# 2.1. Mengambil data baris ke-5 (index 4, karena indexing dimulai dari 0) 
print(df.loc[4]) #dia menggunakan .loc karena mengambil baris tunggal
                    # kalau pakai .iloc untuk mengambil kolom tunggal

In [ ]:
# 2.2. Mengambil data dari baris ke-5 hingga ke-7 (index 4 hingga 6) 
print(df[4:7])  #tidak menggunakan .loc karena mengambil data secara slicing, bukan tunggal

In [ ]:
# 2.3. Mengambil data dari baris ke-17 (index 16) hingga akhir 
print(df[16:])

In [ ]:
# 2.4. Mengambil 5 data pertama 
print(df[:5])

In [ ]:
# 2.5. Melihat panjang (jumlah baris) dari DataFrame 
print(len(df))

In [ ]:
# 2.6. Mengambil nilai kolom "Cakupan" dari data baris ke-2 (index 1) 
print(df.loc[1, "Cakupan"])

In [ ]:
#3. Mengakses data berdasarkan kriteria yang kita butuhkan
#3.1.  Mengambil data dengan tahun 2012 
print(df.loc[df["Tahun"] == 2012])

In [ ]:
# 3.2. Mengambil data Kota Bandung sebelum tahun 2012 
print(df.loc[(df["Cakupan"] == "Kota Bandung") & (df["Tahun"] < 2012)])

In [ ]:
# 3.3. Mengambil data dengan tingkat inflasi di atas 10 atau di bawah 3 
print(df.loc[(df["Tingkat_Inflasi"] > 10) | (df["Tingkat_Inflasi"] < 3)])

Mengambil Nilai Extreme (Paling tinggi atau paling rendah)

In [ ]:
max_inflasi = df['Tingkat Inflasi'].max()
max_inflasi

10.23

In [27]:
min_inflasi = df['Tingkat Inflasi'].min()
min_inflasi

2.02

Mengurutkan Data

In [ ]:
#Ascending:
df_sorted = df.sort_values(by='Tingkat Inflasi', ascending=True)
df_sorted

   Tahun           Cakupan  Tingkat Inflasi
1   2009  Prov. Jawa Barat             2.02
2   2010          Nasional             4.53
0   2008      Kota Bandung            10.23

In [29]:
#Desc
df_sorted = df.sort_values(by='Tingkat Inflasi', ascending=False)

df_sorted

   Tahun           Cakupan  Tingkat Inflasi
0   2008      Kota Bandung            10.23
2   2010          Nasional             4.53
1   2009  Prov. Jawa Barat             2.02

Tabel Frekuensi

In [20]:
frequency_table = df['Tahun'].value_counts()
print(frequency_table)

Tahun
2008    1
2009    1
2010    1
Name: count, dtype: int64

Menentukan Range

In [22]:
range_inflasi = df['Tingkat Inflasi'].max() - df['Tingkat Inflasi'].min()
range_inflasi

8.21

In [ ]:
min = df.min()
max = df.max()

print(max["Tingkat Inflasi"])
print(min["Tingkat Inflasi"])

Statistik Deskriptif dari Dataset

In [23]:
info = df.describe()
print(info)

        Tahun  Tingkat Inflasi
count     3.0         3.000000
mean   2009.0         5.593333
std       1.0         4.207022
min    2008.0         2.020000
25%    2008.5         3.275000
50%    2009.0         4.530000
75%    2009.5         7.380000
max    2010.0        10.230000

In [ ]:
#Menghitung estimator seluruh kolom (mean semua kolom)
df.mean()

In [ ]:
#Menghitung nilai estimator tunggal (Mean)
df["Tingkat Inflasi"].mean()

In [ ]:
#Menghitung nilai estimator tunggal (Standar Deviation)
df["Tingkat Inflasi"].std() #untuk stdv populasi
#df["Tingkat Inflasi"].std(ddof=1) #untuk stdv sampel

Koefisien Korelasi

In [24]:
correlation = df['Tingkat Inflasi'].corr(df['Tahun'])
print(correlation)

-0.6774388302247065

# VISUALISASI DATA

1. Memuat Library

In [ ]:
import pandas as pd 
import matplotlib.pyplot as plt

2. Membuat Dataframe

In [ ]:
# Membaca file CSV 
data = pd.read_csv("data.csv") 
medali = pd.read_csv("medali.csv") 
animal = pd.read_csv("animal.csv")

3. Bar Chart

In [ ]:
#3.1. Bar Chart Lurus Ke Atas

# Membaca file CSV 
data = pd.read_csv("data.csv") 
# Membuat vertical bar chart untuk menampilkan umur dari setiap orang 
data.plot(kind="bar", x="name", y="age", title="Age of Person") 
# Menampilkan plot 
plt.show()

In [ ]:
# 3.2. Bar Chart Lurus Ke Samping 

# Membaca file CSV 
data = pd.read_csv("data.csv") 
 
# Membuat vertical bar chart untuk menampilkan num_children dan num_pets 
data.plot(kind="bar", x="name", y=["num_children", "num_pets"], title="Number of Children and Pets") 
 
# Menampilkan plot 
plt.show()

In [ ]:
#3.3. Bar Chart Double Lurus Ke Atas
# Membaca file CSV 
data = pd.read_csv("data.csv") 
 
# Membuat horizontal bar chart untuk menampilkan umur dari setiap orang 
data.plot(kind="barh", x="name", y="age", title="Age of Person", color="red") 
 
# Menampilkan plot 
plt.show()

4. Histogram

In [ ]:
# Membaca file CSV 
data = pd.read_csv("data.csv") 
# Membuat histogram orang berdasarkan kelompok umur 
data[["age"]].plot(kind="hist", bins=[0, 20, 40, 60, 80, 100], rwidth=0.8, title="Age Groups Distribution") 
# Menampilkan plot 
plt.show()

5. Pie Chart

In [ ]:
# Membaca file CSV 
data = pd.read_csv("data.csv") 
# Membuat pie chart berdasarkan jumlah orang per negara 
data["state"].value_counts().plot(kind="pie", autopct='%1.1f%%', title="Composition of People by State") 
# Menampilkan plot 
plt.show()

6. Stacked Bar Chart (Bar Menumpuk)

In [ ]:
#6.1. Menumpuk Lebih dari Dua Kategori

# Membaca file CSV 
data = pd.read_csv("data.csv") 
 
# Membuat stacked bar chart berdasarkan gender per state 
data.groupby(["gender", "state"])["name"].size().unstack().plot( 
    kind="bar", stacked=True, title="Data Count by Gender and State" 
) 
 
# Menampilkan plot 
plt.show()

In [ ]:
#6.2. Menumpuk Dua Kategori

# Membaca file CSV 
data = pd.read_csv("data.csv") 
 
# Membuat stacked bar chart untuk num_children dan num_pets 
data.plot( 
    kind="bar",  
    x="name",  
    y=["num_children", "num_pets"],  
    stacked=True,  
    title="Number of Children and Pets" 
) 
 
# Menampilkan plot 
plt.show()

7. Line Chart

In [ ]:
animal = pd.read_csv("animal.csv") 
animal.plot( kind=" line",x=" Year",y=" Bears") 
plt.show()

In [ ]:
# Membaca file CSV yang berisi data populasi hewan 
animal = pd.read_csv("animal.csv") 
# Membuat line chart untuk menampilkan pertumbuhan populasi beruang, lumba-lumba, dan ikan paus dari 
tahun ke tahun 
# kind="line" -> Membuat grafik garis 
# x="Year" -> Menggunakan kolom "Year" sebagai sumbu x 
# y=["Bears", "Dolphins", "Whales"] -> Menggunakan kolom "Bears", "Dolphins", dan "Whales" sebagai data pada sumbu y 
animal.plot(kind="line", x="Year", y=["Bears", "Dolphins", "Whales"]) 
# Menampilkan grafik 
plt.show()

8. Area Chart

In [ ]:
# Pertumbuhan populasi lumba - lumba ( Dolphins) dari tahun ke tahun # dalam area chart 
animal. plot( kind=" area",x=" Year", y=" Dolphins")

In [ ]:
# Pertumbuhan populasi lumba - lumba ( Dolphins), ikan paus ( Whales), dan beruang ( Bears), 
#  dari  tahun  ke  tahun  dalam  stacked  area   
chart animal. plot( kind=" area",x=" Year", y=[" Dolphins"," Whales"," Bears"])

9. Scatter dan Bubble Plot

In [ ]:
# Relationship antara variable gold dan total dalam grafik scatter plot # dan tunjukkan adanya korelasi positif 
medali.plot( kind=" scatter", x=" gold", y=" total")

In [ ]:
# Banyaknya total medali dikaitkan dengan perolehan nilai medali emas ( gold) 
# pada sumbu x dan perolehan medali perak ( silver) pada sumbu y 
# dalam grafik bubble plot 
medali. plot( kind=" scatter",x=" gold", y=" silver", sizes=medali[" total"], color=" orange")